body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#viewport {
  width: 500px;
  height: 500px;
  border-style: solid;
  border-color: black;
  position: relative;
  margin-left: 400px;
}

#viewport li{
  width: 480px;
  height: 480px;
  margin: 10px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
  border-radius: 20px;
}
#viewport ul {
  list-style-type: none;
}

#viewport li img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  z-index: -999;
}

.hidden {
  display: none !important;
}
body {
  position: relative;
}

.yes, .no {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f00;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.no {
  background: #CF000F; }

.yes {
  background: #1E824C; }
