body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/modify-truck-010.jpg");
  background-size: cover;
}

a {
  color: #00B7FF;
}

#viewport {
  width: 379px;
  height: 742px;
  /* border-style: solid;
  border-color: black; */
  position: relative;
  margin-left: 400px;
  margin-top: -100px;
  background-image: url('/images/iphone4b.png');
  background-size: cover;
}

#viewport li{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 34.5%;
  padding-bottom: 34.0%;
  padding-left: 8.3%;
  padding-right: 7.5%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
  border-radius: 20px;

}
#viewport ul {
  list-style-type: none;
}

#viewport li img.picture {
  /* border-radius: 20px; */
  width: 100%;
  height: 100%;
  z-index: -999;
}
.screen {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}

.diveWatch {
  /*   position: absolute;
  height: 100px;
  width: 100px;
  bottom: 0;
  left: 0;
  z-index: 0 !important;
  display: none; */
  height: 150px;
  width: 150px;
  float: left;
}
.pictureInfo {
  display: none;
  position: absolute;
  @include vertical-align;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* box-sizing: border-box; */
  /* width: 100% !important; */
  /* background-color: black; */
  color: white;
  background-color: rgba(18, 18, 18, 0.7);
  /* padding: 30px; */
}



.hidden {
  display: none !important;
}
body {
  position: relative;
}

.yes, .no {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f00;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


.no {
  background: #CF000F; }

.yes {
  background: #1E824C; }

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
