body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/modify-truck-010.jpg");
  background-size: cover;
}

a {
  color: #00B7FF;
}

#viewport {
  width: 379px;
  height: 742px;
  /* border-style: solid;
  border-color: black; */
  position: relative;
  margin-left: 400px;
  margin-top: -100px;
  background-image: url('/images/iphone4b.png');
  background-size: cover;
}

#viewport li.pictureListElement, .screenContainer{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 34.5%;
  padding-bottom: 34.0%;
  padding-left: 8.2%;
  padding-right: 7.4%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 20px;
}
#viewport ul {
  list-style-type: none;
}

#viewport li.pictureListElement img.picture, .scr {
  /* border-radius: 20px; */
  width: 100%;
  height: 100%;
  z-index: -999;
}
.screen {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}

.vacationList .screen {
  /* border-radius: 20px; */
  background-color: transparent;
}

.diveWatch {
  /*   position: absolute;
  height: 100px;
  width: 100px;
  bottom: 0;
  left: 0;
  z-index: 0 !important;
  display: none; */
  height: 150px;
  width: 150px;
  float: left;
  bottom: 0;
  left: 0;
  position: absolute;
}
.diveWatchContainer {
  box-sizing: border-box;
  height: 150px;
  width: 150px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.diveWatchContainer span {
  position: absolute;
  font-family: eight-bit;
  color: #2c2c2c;
  text-align: center;
  font-size: 0.6em;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 38px;
  height: 75px;
  width: 75px;
}
.pictureInfo {
  /* display: none; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
  /* box-sizing: border-box; */
  /* width: 100% !important; */
  /* background-color: black; */
  color: white;
  background-color: rgba(18, 18, 18, 0.7);
  /* padding: 30px; */
}
.vacationList {
  /* position: absolute; */
  border-style: solid;
  border-color: black
  border-radius: 10px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-right-width: 0px;
  border-left-width: 0px;
  background-image: url('/images/seamless_paper_texture.png');
  background-size: cover;
  /* background: -webkit-radial-gradient(center, ellipse cover, #37393d 0%,#28343b 99%); */ /* Chrome10+,Safari5.1+ */
  /* border-radius: 20px; */
  /* border-color: red; */
  height: 160px;
  overflow: scroll;
  background-color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vacatonListElement {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;

}
.stackVacation {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 34.5%;
  padding-bottom: 34.0%;
  padding-left: 8.2%;
  padding-right: 7.4%;
  border-radius: 20px;
  color: black;


}


.hidden {
  display: none !important;
}
body {
  position: relative;
}

.yes, .no {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f00;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 70px;
}


.no {
  background: #CF000F; }

.yes {
  background: #1E824C; }

@font-face {
    font-family: eight-bit;
    src: url("/stylesheets/8bit_wonder/8-BIT_WONDER.ttf");
}
